.headerStyle{
    background-color: green;
    color: red;
    font-size: 20px;
    position: fixed;
    width: 100%;
}

.footerStyle{
    background-color: burlywood;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000px;
}

.cajaCentrada{ 
    background-color: pink;
    color: red;
}
