.headerStyle{
    background-color:rgb(144, 222, 248);
    font-size: 20px;
    position: fixed;
    width: 100%;
}
.footerStyle{
    background-color: burlywood;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    width: 100%;
}